// Grid - Flexless

.container {
  max-width: $container-width;
  margin-right: auto;
  margin-left: auto;
}

.row {
  @include border-box();
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }

  // For usage without column widths
  min-height: 1.5rem;
  width: 100%;

  @for $i from 1 through 12 {
    .col-xs-#{$i} {
      float: left;
      width: percentage($i/12);
    }
  }

  @for $i from 1 through 11 {
    .col-xs-offset-#{$i} {
      margin-left: percentage((1/12)*$i);
    }
  }

  @media screen and (min-width: $screen-xs) {
    @for $i from 1 through 12 {
      .col-sm-#{$i} {
        float: left;
        width: percentage($i/12);
      }
    }
    @for $i from 1 through 11 {
      .col-sm-offset-#{$i} {
        margin-left: percentage((1/12)*$i);
      }
    }
  }

  @media screen and (min-width: $screen-sm) {
    @for $i from 1 through 12 {
      .col-md-#{$i} {
        float: left;
        width: percentage($i/12);
      }
    }
    @for $i from 1 through 11 {
      .col-md-offset-#{$i} {
        margin-left: percentage((1/12)*$i);
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    @for $i from 1 through 12 {
      .col-lg-#{$i} {
        float: left;
        width: percentage($i/12);
      }
    }
    @for $i from 1 through 11 {
      .col-lg-offset-#{$i} {
        margin-left: percentage((1/12)*$i);
      }
    }
  }
}