// Basic Theme

.bg-white {
  background-color: $white;
}

.bg-blue {
  background-color: $blue;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}