// Basic Theme

// Standard Colors

.muted {
  color: $muted-color;
}

.white {
  color: #fff;
}

.blue {
  color: $blue;
}

.light-gray {
  color: $light-gray;
}

.mid-gray {
  color: $mid-gray;
}

.dark-gray {
  color: $dark-gray;
}

.bg-white {
  background-color: $white;
}

.bg-blue {
  background-color: $blue;
}

.bg-light-gray {
  background-color: $light-gray;
}

.bg-mid-gray {
  background-color: $mid-gray;
}

.bg-dark-gray {
  background-color: $dark-gray;
}

// Fancy Colors

.bg-remember {
  background-color: $remember-color;
}