// Utilities

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.oh {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cf {
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

// Basic Image utils needed for responsive behavior

img {
  &.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Border Radius

.rounded {
  border-radius: .3rem;
}

.round {
  border-radius: 50%;
}

.border-radius-tl {
  border-top-left-radius: .3rem;
}

.border-radius-tr {
  border-top-right-radius: .3rem;
}

.border-radius-br {
  border-bottom-right-radius: .3rem;
}

.border-radius-bl {
  border-bottom-left-radius: .3rem;
}

// Hiding max device widths

@media screen and (max-width: $screen-xs) {
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (max-width: $screen-sm) {
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width: $screen-md) {
  .hidden-md {
    display: none !important;
  }
}

@media screen and (max-width: $screen-lg) {
  .hidden-lg {
    display: none !important;
  }
}