// Utilities

// Basic Image utils needed for responsive behavior

img {
  &.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
  }
  &.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

// Border Radius

.rounded {
  border-radius: .3rem;
}

.round {
  border-radius: 50%;
}

.border-radius-tl {
  border-top-left-radius: .3rem;
}

.border-radius-tr {
  border-top-right-radius: .3rem;
}

.border-radius-br {
  border-bottom-right-radius: .3rem;
}

.border-radius-bl {
  border-bottom-left-radius: .3rem;
}

// Hiding max device widths

.hidden {
  display: none !important;
}

@media screen and (max-width: $screen-xs) {
  .hidden-xs {
    display: none !important;
  }
}

@media screen and (max-width: $screen-sm) {
  .hidden-sm {
    display: none !important;
  }
}

@media screen and (max-width: $screen-md) {
  .hidden-md {
    display: none !important;
  }
}

@media screen and (max-width: $screen-lg) {
  .hidden-lg {
    display: none !important;
  }
}

// Raising levels

.raise-1 {
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .12);
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .12);
  z-index: 100;
}

.raise-2 {
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .16);
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .16);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .16);
  z-index: 200;
}

.raise-3 {
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19);
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .19);
  z-index: 300;
}

.raise-4 {
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .25);
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .25);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .25);
  z-index: 400;
}

.raise-5 {
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .30);
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .30);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, .30);
  z-index: 500;
}

.raise-hover-1 {
  @include transition(box-shadow .2s ease);
  &:hover {
    @extend .raise-1;
  }
}

.raise-hover-2 {
  @include transition(box-shadow .2s ease);
  &:hover {
    @extend .raise-2;
  }
}

.raise-hover-3 {
  @include transition(box-shadow .2s ease);
  &:hover {
    @extend .raise-3;
  }
}

.raise-hover-4 {
  @include transition(box-shadow .2s ease);
  &:hover {
    @extend .raise-4;
  }
}

.raise-hover-5 {
  @include transition(box-shadow .2s ease);
  &:hover {
    @extend .raise-5;
  }
}