@charset "UTF-8";
/*
  BobScss

  Grid Framework

  Made with love by bbo - ©2014 Alexander Rühle
  MIT License http://opensource.org/licenses/MIT
*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header, hgroup,
menu,
nav,
section {
  display: block;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1.5rem;
  width: 100%;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row .col-xs-1 {
  float: left;
  width: 8.33333%;
}
.row .col-xs-2 {
  float: left;
  width: 16.66667%;
}
.row .col-xs-3 {
  float: left;
  width: 25%;
}
.row .col-xs-4 {
  float: left;
  width: 33.33333%;
}
.row .col-xs-5 {
  float: left;
  width: 41.66667%;
}
.row .col-xs-6 {
  float: left;
  width: 50%;
}
.row .col-xs-7 {
  float: left;
  width: 58.33333%;
}
.row .col-xs-8 {
  float: left;
  width: 66.66667%;
}
.row .col-xs-9 {
  float: left;
  width: 75%;
}
.row .col-xs-10 {
  float: left;
  width: 83.33333%;
}
.row .col-xs-11 {
  float: left;
  width: 91.66667%;
}
.row .col-xs-12 {
  float: left;
  width: 100%;
}
.row .col-xs-offset-1 {
  margin-left: 8.33333%;
}
.row .col-xs-offset-2 {
  margin-left: 16.66667%;
}
.row .col-xs-offset-3 {
  margin-left: 25%;
}
.row .col-xs-offset-4 {
  margin-left: 33.33333%;
}
.row .col-xs-offset-5 {
  margin-left: 41.66667%;
}
.row .col-xs-offset-6 {
  margin-left: 50%;
}
.row .col-xs-offset-7 {
  margin-left: 58.33333%;
}
.row .col-xs-offset-8 {
  margin-left: 66.66667%;
}
.row .col-xs-offset-9 {
  margin-left: 75%;
}
.row .col-xs-offset-10 {
  margin-left: 83.33333%;
}
.row .col-xs-offset-11 {
  margin-left: 91.66667%;
}
@media screen and (min-width: 34rem) {
  .row .col-sm-1 {
    float: left;
    width: 8.33333%;
  }
  .row .col-sm-2 {
    float: left;
    width: 16.66667%;
  }
  .row .col-sm-3 {
    float: left;
    width: 25%;
  }
  .row .col-sm-4 {
    float: left;
    width: 33.33333%;
  }
  .row .col-sm-5 {
    float: left;
    width: 41.66667%;
  }
  .row .col-sm-6 {
    float: left;
    width: 50%;
  }
  .row .col-sm-7 {
    float: left;
    width: 58.33333%;
  }
  .row .col-sm-8 {
    float: left;
    width: 66.66667%;
  }
  .row .col-sm-9 {
    float: left;
    width: 75%;
  }
  .row .col-sm-10 {
    float: left;
    width: 83.33333%;
  }
  .row .col-sm-11 {
    float: left;
    width: 91.66667%;
  }
  .row .col-sm-12 {
    float: left;
    width: 100%;
  }
  .row .col-sm-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-sm-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-sm-offset-3 {
    margin-left: 25%;
  }
  .row .col-sm-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-sm-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-sm-offset-6 {
    margin-left: 50%;
  }
  .row .col-sm-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-sm-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-sm-offset-9 {
    margin-left: 75%;
  }
  .row .col-sm-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-sm-offset-11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 54rem) {
  .row .col-md-1 {
    float: left;
    width: 8.33333%;
  }
  .row .col-md-2 {
    float: left;
    width: 16.66667%;
  }
  .row .col-md-3 {
    float: left;
    width: 25%;
  }
  .row .col-md-4 {
    float: left;
    width: 33.33333%;
  }
  .row .col-md-5 {
    float: left;
    width: 41.66667%;
  }
  .row .col-md-6 {
    float: left;
    width: 50%;
  }
  .row .col-md-7 {
    float: left;
    width: 58.33333%;
  }
  .row .col-md-8 {
    float: left;
    width: 66.66667%;
  }
  .row .col-md-9 {
    float: left;
    width: 75%;
  }
  .row .col-md-10 {
    float: left;
    width: 83.33333%;
  }
  .row .col-md-11 {
    float: left;
    width: 91.66667%;
  }
  .row .col-md-12 {
    float: left;
    width: 100%;
  }
  .row .col-md-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-md-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-md-offset-3 {
    margin-left: 25%;
  }
  .row .col-md-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-md-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-md-offset-6 {
    margin-left: 50%;
  }
  .row .col-md-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-md-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-md-offset-9 {
    margin-left: 75%;
  }
  .row .col-md-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-md-offset-11 {
    margin-left: 91.66667%;
  }
}
@media screen and (min-width: 70rem) {
  .row .col-lg-1 {
    float: left;
    width: 8.33333%;
  }
  .row .col-lg-2 {
    float: left;
    width: 16.66667%;
  }
  .row .col-lg-3 {
    float: left;
    width: 25%;
  }
  .row .col-lg-4 {
    float: left;
    width: 33.33333%;
  }
  .row .col-lg-5 {
    float: left;
    width: 41.66667%;
  }
  .row .col-lg-6 {
    float: left;
    width: 50%;
  }
  .row .col-lg-7 {
    float: left;
    width: 58.33333%;
  }
  .row .col-lg-8 {
    float: left;
    width: 66.66667%;
  }
  .row .col-lg-9 {
    float: left;
    width: 75%;
  }
  .row .col-lg-10 {
    float: left;
    width: 83.33333%;
  }
  .row .col-lg-11 {
    float: left;
    width: 91.66667%;
  }
  .row .col-lg-12 {
    float: left;
    width: 100%;
  }
  .row .col-lg-offset-1 {
    margin-left: 8.33333%;
  }
  .row .col-lg-offset-2 {
    margin-left: 16.66667%;
  }
  .row .col-lg-offset-3 {
    margin-left: 25%;
  }
  .row .col-lg-offset-4 {
    margin-left: 33.33333%;
  }
  .row .col-lg-offset-5 {
    margin-left: 41.66667%;
  }
  .row .col-lg-offset-6 {
    margin-left: 50%;
  }
  .row .col-lg-offset-7 {
    margin-left: 58.33333%;
  }
  .row .col-lg-offset-8 {
    margin-left: 66.66667%;
  }
  .row .col-lg-offset-9 {
    margin-left: 75%;
  }
  .row .col-lg-offset-10 {
    margin-left: 83.33333%;
  }
  .row .col-lg-offset-11 {
    margin-left: 91.66667%;
  }
}

body {
  color: #404040;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5rem;
}

::selection {
  background: pink;
}

::-moz-selection {
  background: pink;
}

h1,
.h1,
.f1 {
  font-size: 2rem;
  line-height: 2.5rem;
}

h2,
.h2,
.f2 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3,
.h3
.f3 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h4,
.f4,
h5,
.f5,
h6
.f6 {
  font-size: 1.125rem;
  line-height: 1.5rem;
}

@media screen and (min-width: 54rem) {
  h1,
  .h1 {
    font-size: 4rem;
    line-height: 5rem;
  }

  h2,
  .h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  h3,
  .h3 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}
@media screen and (min-width: 70rem) {
  h1,
  .h1 {
    font-size: 6rem;
    line-height: 8rem;
  }

  h2,
  .h2 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
}
strong,
.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.light {
  font-weight: 300;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.center {
  text-align: center;
}

.justify {
  text-align: justify;
}

.right-align {
  text-align: right;
}

small,
.small {
  font-size: .875rem;
  line-height: 1.3rem;
}

.leading-1 {
  line-height: 1.5rem;
}

.leading-2 {
  line-height: 2rem;
}

.leading-3 {
  line-height: 3rem;
}

.leading-4 {
  line-height: 4rem;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.oh {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.cf:before, .cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}

ul.unstyled,
ol.unstyled {
  list-style-type: none;
}

img.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.rounded {
  -moz-border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  border-radius: 0.3rem;
}

.round {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.border-radius-tl {
  border-top-left-radius: .3rem;
}

.border-radius-tr {
  border-top-right-radius: .3rem;
}

.border-radius-br {
  border-bottom-right-radius: .3rem;
}

.border-radius-bl {
  border-bottom-left-radius: .3rem;
}

.hidden {
  display: none;
}

@media screen and (max-width: 34rem) {
  .hidden-xs {
    display: none !important;
  }
}
@media screen and (max-width: 54rem) {
  .hidden-sm {
    display: none !important;
  }
}
@media screen and (max-width: 70rem) {
  .hidden-md {
    display: none !important;
  }
}
@media screen and (max-width: 85rem) {
  .hidden-lg {
    display: none !important;
  }
}
.raise-1, .raise-hover-1:hover {
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
  z-index: 100;
}

.raise-2, .raise-hover-2:hover {
  -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.18824);
  z-index: 200;
}

.raise-3, .raise-hover-3:hover {
  -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19), 0 12px 15px 0 rgba(0, 0, 0, 0.24);
  z-index: 300;
}

.raise-4, .raise-hover-4:hover {
  -webkit-box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  box-shadow: 0 25px 55px 0 rgba(0, 0, 0, 0.21), 0 16px 28px 0 rgba(0, 0, 0, 0.22);
  z-index: 400;
}

.raise-5, .raise-hover-5:hover {
  -webkit-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 40px 77px 0 rgba(0, 0, 0, 0.22), 0 27px 24px 0 rgba(0, 0, 0, 0.2);
  z-index: 500;
}

.raise-hover-1 {
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.raise-hover-2 {
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.raise-hover-3 {
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.raise-hover-4 {
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.raise-hover-5 {
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
}

.m1 {
  margin: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.mr1 {
  margin-right: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}

.ml1 {
  margin-left: 1rem;
}

.mx1 {
  margin-right: 1rem;
  margin-left: 1rem;
}

.my1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.m2 {
  margin: 2rem;
}

.mt2 {
  margin-top: 2rem;
}

.mr2 {
  margin-right: 2rem;
}

.mb2 {
  margin-bottom: 2rem;
}

.ml2 {
  margin-left: 2rem;
}

.mx2 {
  margin-right: 2rem;
  margin-left: 2rem;
}

.my2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.m3 {
  margin: 3rem;
}

.mt3 {
  margin-top: 3rem;
}

.mr3 {
  margin-right: 3rem;
}

.mb3 {
  margin-bottom: 3rem;
}

.ml3 {
  margin-left: 3rem;
}

.mx3 {
  margin-right: 3rem;
  margin-left: 3rem;
}

.my3 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.m4 {
  margin: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.mx4 {
  margin-right: 4rem;
  margin-left: 4rem;
}

.my4 {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.p1 {
  padding: 1rem;
}

.pt1 {
  padding-top: 1rem;
}

.pr1 {
  padding-right: 1rem;
}

.pb1 {
  padding-bottom: 1rem;
}

.pl1 {
  padding-left: 1rem;
}

.px1 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p2 {
  padding: 2rem;
}

.pt2 {
  padding-top: 2rem;
}

.pr2 {
  padding-right: 2rem;
}

.pb2 {
  padding-bottom: 2rem;
}

.pl2 {
  padding-left: 2rem;
}

.px2 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p3 {
  padding: 3rem;
}

.pt3 {
  padding-top: 3rem;
}

.pr3 {
  padding-right: 3rem;
}

.pb3 {
  padding-bottom: 3rem;
}

.pl3 {
  padding-left: 3rem;
}

.px3 {
  padding-right: 3rem;
  padding-left: 3rem;
}

.py3 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.p4 {
  padding: 4rem;
}

.pt4 {
  padding-top: 4rem;
}

.pr4 {
  padding-right: 4rem;
}

.pb4 {
  padding-bottom: 4rem;
}

.pl4 {
  padding-left: 4rem;
}

.px4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  border-radius: .2rem;
  color: inherit;
  cursor: pointer;
  display: inline-block;
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  height: auto;
  line-height: 2rem;
  min-height: 2rem;
  padding: .5rem 1rem;
  text-decoration: none;
  -webkit-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -moz-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  -o-transition: box-shadow 0.2s ease, background-color 0.2s ease;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  white-space: nowrap;
  background-color: transparent;
}
.btn:hover {
  background-color: #e6e6e6;
  color: #404040;
}
.btn:focus {
  box-shadow: 0 0 0 2px white, 0 0 1px 4px #e6e6e6;
  outline: none;
}
.btn.blue {
  background-color: #3372df;
  color: white;
}
.btn.blue:hover {
  background-color: #1e5ac1 !important;
  color: white;
}
.btn.blue:focus {
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(51, 114, 223, 0.5);
  outline: none;
}
.btn.red {
  background-color: #cb4437;
  color: white;
}
.btn.red:hover {
  background-color: #a4352b !important;
  color: white;
}
.btn.red:focus {
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(203, 68, 55, 0.5);
  outline: none;
}
.btn.orange {
  background-color: #eea236;
  color: white;
}
.btn.orange:hover {
  background-color: #de8a13 !important;
  color: white;
}
.btn.orange:focus {
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(238, 162, 54, 0.5);
  outline: none;
}
.btn.green {
  background-color: #0f9d58;
  color: white;
}
.btn.green:hover {
  background-color: #0b6e3e !important;
  color: white;
}
.btn.green:focus {
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(15, 157, 88, 0.5);
  outline: none;
}
.btn.ghost {
  background-color: transparent;
  border: 1px solid #333333;
}
.btn.ghost:hover {
  color: inherit;
  background-color: #e6e6e6;
}
.btn.ghost.blue {
  border: 1px solid #3372df;
  color: #3372df;
}
.btn.ghost.blue:hover {
  color: white;
}
.btn.ghost.red {
  border: 1px solid #cb4437;
  color: #cb4437;
}
.btn.ghost.red:hover {
  color: white;
}
.btn.ghost.orange {
  border: 1px solid #eea236;
  color: #eea236;
}
.btn.ghost.orange:hover {
  color: white;
}
.btn.ghost.green {
  border: 1px solid #0f9d58;
  color: #0f9d58;
}
.btn.ghost.green:hover {
  color: white;
}
.btn.circle {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
}
.btn.lg {
  padding: 1rem 1.8rem;
}
.btn.sm {
  padding: 0 1rem;
}
.btn.block {
  text-align: center;
  width: 100%;
}

.form {
  font-size: 1rem;
}
.form .form-group .field,
.form .form-group .input,
.form .form-group .select {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: 3rem;
  line-height: 1.5rem;
}
.form .form-group .input,
.form .form-group .select,
.form .form-group .textarea {
  border-style: solid;
  border-width: 1px;
}
.form .form-group .select {
  margin-right: 0;
  margin-left: 0;
}
.form .form-group .select[multiple] {
  height: auto;
}
.form .form-group .input {
  padding: .375rem .75rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form .form-group .textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: .75rem;
  line-height: 1.5;
}
.form .form-group .input,
.form .form-group .textarea,
.form .form-group .select {
  background-color: white;
  -webkit-transition: box-shadow 0.2s ease;
  -moz-transition: box-shadow 0.2s ease;
  -o-transition: box-shadow 0.2s ease;
  transition: box-shadow 0.2s ease;
  border-color: #777777;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.form .form-group .input:focus,
.form .form-group .textarea:focus,
.form .form-group .select:focus {
  outline: none;
  border-color: #3372df;
  -webkit-box-shadow: 0 0 0.125rem rgba(51, 114, 223, 0.5);
  -moz-box-shadow: 0 0 0.125rem rgba(51, 114, 223, 0.5);
  box-shadow: 0 0 0.125rem rgba(51, 114, 223, 0.5);
}
.form .form-group .radio input,
.form .form-group .checkbox {
  position: relative;
}
.form .form-group .radio input input[type=checkbox],
.form .form-group .checkbox input[type=checkbox] {
  display: none;
}
.form .form-group .radio input input[type=checkbox]:checked ~ label .box,
.form .form-group .checkbox input[type=checkbox]:checked ~ label .box {
  opacity: 0;
  -webkit-transform: scale(0) rotate(-180deg);
  -moz-transform: scale(0) rotate(-180deg);
  -o-transform: scale(0) rotate(-180deg);
  transform: scale(0) rotate(-180deg);
}
.form .form-group .radio input input[type=checkbox]:checked ~ label .check,
.form .form-group .checkbox input[type=checkbox]:checked ~ label .check {
  opacity: 1;
  -webkit-transform: scale(1) rotate(45deg);
  -moz-transform: scale(1) rotate(45deg);
  -o-transform: scale(1) rotate(45deg);
  transform: scale(1) rotate(45deg);
}
.form .form-group .radio input label,
.form .form-group .radio input p,
.form .form-group .checkbox label,
.form .form-group .checkbox p {
  padding-left: 2.5rem;
}
.form .form-group .radio input label,
.form .form-group .checkbox label {
  cursor: pointer;
}
.form .form-group .radio input label span,
.form .form-group .checkbox label span {
  display: block;
  left: 0;
  position: absolute;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.form .form-group .radio input label .box,
.form .form-group .checkbox label .box {
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  height: 1.25rem;
  top: 0;
  width: 1.25rem;
}
.form .form-group .radio input label .check,
.form .form-group .checkbox label .check {
  border-width: 2px;
  border-style: solid;
  border-color: #777777;
  border-top: none;
  border-left: none;
  height: 1.5rem;
  left: .375rem;
  opacity: 0;
  top: -.375rem;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  width: .75rem;
}
.form .form-group .radio input label .check.green,
.form .form-group .checkbox label .check.green {
  border-color: #0f9d58;
}
.form .form-group .radio input label .check.blue,
.form .form-group .checkbox label .check.blue {
  border-color: #3372df;
}
.form .form-group .radio input label .check.red,
.form .form-group .checkbox label .check.red {
  border-color: #cb4437;
}
.form .form-group .radio input label .check.orange,
.form .form-group .checkbox label .check.orange {
  border-color: #eea236;
}
.form .form-group .radio input {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
.form .form-group .fieldset {
  border-width: 1px;
  border-style: solid;
  border-color: #777777;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.form.stacked .form-group .label,
.form.stacked .form-group .input,
.form.stacked .form-group .select,
.form.stacked .form-group .checkbox,
.form.stacked .form-group .radio,
.form.stacked .form-group .fieldset,
.form.stacked .form-group .field,
.form.stacked .form-group .textarea {
  display: block;
  width: 100%;
}
.form.stacked .form-group .input,
.form.stacked .form-group .select,
.form.stacked .form-group .radio,
.form.stacked .form-group .checkbox,
.form.stacked .form-group .fieldset,
.form.stacked .form-group .field,
.form.stacked .form-group .textarea {
  margin-bottom: 1rem;
}

.muted {
  color: #737373;
}

.white {
  color: #fff;
}

.blue {
  color: #3372df;
}

.light-gray {
  color: #eeeeee;
}

.mid-gray {
  color: #777777;
}

.dark-gray {
  color: #333333;
}

.bg-white {
  background-color: white;
}

.bg-blue {
  background-color: #3372df;
}

.bg-light-gray {
  background-color: #eeeeee;
}

.bg-mid-gray {
  background-color: #777777;
}

.bg-dark-gray {
  background-color: #333333;
}

a {
  color: #3372df;
  text-decoration: none;
}
a:hover {
  color: #1e5ac1;
}

.bg-remember {
  background-color: #09829a;
}

.bg-learning {
  background-color: #da2e75;
}
